*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
  background: linear-gradient(#87ceeb, #ecedee);
    position: relative;
    width: 100%;
    height: 658px;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
}

.chao{
  position: absolute;
  bottom: 0;

}
/*.teste{
position: relative;
width: 100%;

overflow: hidden;
}*/

.cano{ 
    position: absolute;
    width: 80px;
    bottom: 180px;
    animation: cano-animado 2s infinite linear;
}

.tijolinho{
  position: absolute;
    width: 180px;
    bottom: 300px;
    animation: tijolo-animado 2.5s infinite linear;
}

.mario{
    position: absolute;
    width: 140px;
    margin-left: 10px;
    bottom: 180px;
}

.pulo{
    animation: pulo 500ms ease-out;
    
}

.nuvens{
  position: absolute;
  width: 500px;
  animation: nuvens-animadas 10s infinite linear;
}

@keyframes cano-animado{

    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes tijolo-animado{

  from{
      right: -500px;
  }

  to{
      right: 100%;
  }
}

@keyframes pulo{
  0%{
    bottom: 180px;
  }

  40%{
    bottom: 310px;
  }

  50%{
    bottom: 310px;
  }

  60%{
    bottom: 310px;
  }

  100%{
    bottom: 180px;
  }
}

@keyframes nuvens-animadas{
  from{
    right: -550px;
  }
  to{
    right: 100%;
  }
}